build/
bin/

vcpkg/
vcpkg_installed/

external/

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

.vscode/

.idea/
cmake-build-*/

.DS_Store

*.log
*.tmp 